.container {
  padding: 20px;
}

table {
  width: 100%;
}

.quantity-input {
  width: 70px;
}

.total-section {
  margin-top: 20px;
  text-align: right;
}

.total-section h2 {
  margin-right: 20px;
}
